
.text {
  color: blue;
}
.pin {
  background-color: white;
  width: 50px;
  height: 50px;
  padding: 0px;
  margin: 0px;
  border: 1px solid grey;
  border-radius: 25px;
}
#mainGame{
  display: none;
}
